<main>
    <section>
        <div class="series-container">
            <h1>Episodios de "{{ title }}" - Temporada {{ season }}</h1>
            <ul *ngIf="episodes.length > 0; else loading">
              <li *ngFor="let episode of episodes">
                <strong>{{ episode.Episode }}:</strong> {{ episode.Title }}
              </li>
            </ul>
            <ng-template #loading>
              <p>Cargando episodios...</p>
            </ng-template>
          </div>
    </section>
</main>