<!-- Ejercicio 3 -->
<!-- En el template, mostrar los 4 valores de ese objeto usando interpolación. -->
<main>
    <section>
        <div class="container">
            <h2>Información:</h2>
            <div class="info">
                <p><strong>Nombre:</strong> {{ miObjeto.nombre }}</p>
                <p><strong>Edad</strong>: {{ miObjeto.edad }}</p>
                <p><strong>Profesión:</strong> {{ miObjeto.profesion }}</p>
                <p><strong>Ciudad:</strong> {{ miObjeto.ciudad }}</p>
            </div>
        </div>
    </section>
</main>